.box {
    width: 20%;
    float: left;
    margin: 20px ;
    background-color: #fff;
    padding: 10px;
   border-radius: 8px;
   text-align: justify;
  }
  body{
      background-color: grey;
      font-family: sans-serif;
  }
  .box h4{
text-align: center;
  }
  a {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: red;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
  }
  .box a:hover {
    background-color: blue;
  }
  img{
      width: 200px;
      height: 180px;
      padding: 30px;
      display: flex;
      align-items: center;
  }
 